.animation--error-photo-upload  {
  animation-name: active-back;
  animation-duration: 1.8s;
  animation-timing-function: cubic-bezier(.04,.85,.35,.51);
  animation-delay: 0.1s;
}

@keyframes active-back{
	0%{ background-color: rgba(255, 255, 255, 0.06); }
	5%{ background-color: #FF0000; }
	50%{ background-color: #FF0000; }
	100%{ background-color: rgba(255, 255, 255, 0.06); }
}

.animation--error-char-upload  {
  animation-name: error-char;
  animation-duration: 1.8s;
  animation-timing-function: cubic-bezier(.04,.85,.35,.51);
  /* animation-delay: 0.1s; */
}

@keyframes error-char{
	0%{ opacity: 0; }
	5%{ opacity: 1; }
	50%{ opacity: 1; }
	100%{ opacity: 0; }
}

.animation--vision  {
  animation-name: vision-back;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.04,.85,.35,.51);
  /* animation-delay: 0.8s; */
}

@keyframes vision-back{
	0%{ background: rgba(255, 255, 255, 0.06); }
	20%{ background: rgba(255, 255, 255, 0.2); }
	40%{ background: rgba(255, 255, 255, 0.2); }
	100%{ background: rgba(255, 255, 255, 0.06); }
}
