@font-face {
    font-family: 'JetBrains Mono-300';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/JetBrainsMono-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono-500';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/JetBrainsMono-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono-600';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/JetBrainsMono-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter-700';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter-400';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter-500';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter-600';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-SemiBold.ttf') format("truetype");
}


.jbm-300 {
	font-family: "JetBrains Mono-300";
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.jbm-500-22 {
  font-family: 'JetBrains Mono-500';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.int-400 {
	font-family: "Inter-400";
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.02em;
}

.int-400-22 {
	font-family: "Inter-400";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-500-22 {
	font-family: "Inter-500";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-600-22 {
	font-family: "Inter-600";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-600-28 {
	font-family: 'Inter-600';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.int-600-48 {
	font-family: 'Inter-600';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.02em;
}

.int-600-72 {
  font-family: 'Inter-600';
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0.02em;
}

.int-700 {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.02em;
}

.int-700-18 {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.02em;
}

.int-700-20 {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
}

.print-grey {
	color: #828282;
}
