@font-face {
    font-family: 'JetBrains Mono-300';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/JetBrainsMono-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono-500';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/JetBrainsMono-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono-600';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/JetBrainsMono-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter-700';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter-400';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter-500';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter-600';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-SemiBold.ttf') format("truetype");
}


.jbm-300 {
	font-family: "JetBrains Mono-300";
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.jbm-500-22 {
  font-family: 'JetBrains Mono-500';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.jbm-500-22-blank {
  font-family: 'JetBrains Mono-500';
  font-style: normal;
  font-weight: normal;
  font-size: var(--px-22);
  line-height: var(--px-36);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.jbm-500-40 {
  font-family: 'JetBrains Mono-500';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  /* line-height: 36px; */
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.int-400 {
	font-family: "Inter-400";
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.02em;
}

.int-400-13 {
	font-family: "Inter-400";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.02em;
}

.int-400-22 {
	font-family: "Inter-400";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-400-22-blank {
	font-family: "Inter-400";
	font-style: normal;
	font-weight: normal;
	font-size: var(--px-22);
	line-height: var(--px-30);
	letter-spacing: 0.02em;
}

.int-500-22 {
	font-family: "Inter-500";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-600-22 {
	font-family: "Inter-600";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-600-22-blank {
	font-family: "Inter-600";
	font-style: normal;
	font-weight: normal;
	font-size: var(--px-22);
	line-height: var(--px-30);
	letter-spacing: 0.02em;
}

.int-600-28 {
	font-family: 'Inter-600';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.int-600-28-blank {
	font-family: 'Inter-600';
  font-style: normal;
  font-weight: normal;
  font-size: var(--px-28);
  line-height: var(--px-48);
  letter-spacing: 0.02em;
}

.int-600-48 {
	font-family: 'Inter-600';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.02em;
}

.int-600-48-blank {
	font-family: "Inter-600";
	font-style: normal;
	font-weight: normal;
	font-size: var(--px-48);
	line-height: var(--px-60);
	letter-spacing: 0.02em;
}

.int-600-72 {
  font-family: 'Inter-600';
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0.02em;
}

.int-600-72-blank {
  font-family: 'Inter-600';
  font-style: normal;
  font-weight: normal;
  font-size: var(--px-72);
  line-height: var(--px-72);
  letter-spacing: 0.02em;
}

.int-700 {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.02em;
}

.int-700-18 {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.02em;
}

.int-700-18-blank {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: var(--px-18);
	line-height: var(--px-20);
	letter-spacing: 0.02em;
}

.int-700-20 {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
}

.int-700-22 {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-700-30 {
	font-family: "Inter-700";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0.02em;
}

.white-006 {color: rgba(255, 255, 255, 0.06);}
.white-02 {color: rgba(255, 255, 255, 0.2);}
.white-04 {color: rgba(255, 255, 255, 0.4);}
.buff { color: #05ff00; }
.debuff { color: #ff0000;}
.color-blue { color: #0047FF;}

.print-grey { color: #828282;}
.text_print > span { color: #000000;}


.main-text {color: #ffffff;}


.error-text { color: #ff0000 !important;}
.rare-text,
.rare-text a {
	color: #ffc93d;
}


.f-lh-18 {
	line-height: 18px;
}
