.svg-18 {
	min-width: 18px;
	height: 18px;
}

.svg-28 {
	min-width: 28px;
	height: 28px;
}

.svg-36 {
	min-width: 36px;
	height: 36px;
}

.svg-36-blank {
	min-width: var(--px-36);
	height: var(--px-36);
}

.svg-54 {
	min-width: 54px;
	height: 54px;
}

.svg-main-f { 
	fill: white;
}

.svg-black-f { 
	fill: black;
}

.svg-green-f { 
	fill: #05FF00;
}

.svg-pass-f { 
	opacity: 0.2;
}

.svg-red-f { 
	fill: black;
}

.svg-none-f { 
	fill: none;
}


