/* .btm-main {
	padding: 16px;
	background: rgba(255, 255, 255, 0.06);
	border-radius: 12px;
	backdrop-filter: blur(60px);
}
.btm-main.hov:hover {background: rgba(255, 255, 255, 0.1);} */

.btm-anim { transition-duration: 0.5s;}

.cur-p { cursor: pointer; }
.cur-auto { cursor: auto; }

.pas-param { opacity: 0.2;}

.br-4 { border-radius: 4px;}
.br-12 { border-radius: 12px;}

.blur-60 { backdrop-filter: blur(60px); }

.btm-grey {background: rgba(255, 255, 255, 0.06);}
.btm-grey.hov:hover {background: rgba(255, 255, 255, 0.1);}

.btm-trans {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.06);
}

.btm-blue {background: #0047ff;}
.btm-blue.hov:hover { background: #1355ff;}

.btm-white {background: #FFFFFF;}
.btm-white a {color: #0047FF;}
.btm-white svg {fill: #0047FF;}
.btm-white.hov:hover { background: #FFFFFF;}

.btm-red {background: #580000; transition-duration: 0.5s;}
.btm-red.hov:hover { background: #FF0000;}


/* stripe */
.stripe-item--main {
	min-width: 4px;
	background: rgba(255, 255, 255, 0.2);
}

.stripe-item--active { background: #ffffff;}
