@font-face {
    font-family: 'JetBrains-Mono';
    src: url('../fonts/JetBrainsMono/JetBrainsMono-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
		font-display: swap;
}

@font-face {
    font-family: 'JetBrains-Mono';
    src: url('../fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
		font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
		font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
		font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBold.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
		font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
		font-display: swap;
}

.jbm-300 {
	font-family: 'JetBrains-Mono', Arial, sans-serif;
	font-weight: 300;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.jbm-500-22 {
  font-family: 'JetBrains-Mono', Arial, sans-serif;
	font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.jbm-500-22-blank {
  font-family: 'JetBrains-Mono', Arial, sans-serif;
	font-weight: 500;
  font-size: var(--px-22);
  line-height: var(--px-36);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.int-400 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.02em;
}

.int-400-13 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.02em;
}

.int-400-22 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-400-22-blank {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 400;
	font-size: var(--px-22);
	line-height: var(--px-30);
	letter-spacing: 0.02em;
}

.int-500-22 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-500-22-blank {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 500;
	font-size: var(--px-22);
	line-height: var(--px-30);
	letter-spacing: 0.02em;
}

.int-600-22 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-600-22-blank {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
	font-size: var(--px-22);
	line-height: var(--px-30);
	letter-spacing: 0.02em;
}

.int-600-28 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.int-600-28-blank {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
  font-size: var(--px-28);
  line-height: var(--px-48);
  letter-spacing: 0.02em;
}

.int-600-48 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.02em;
}

.int-600-48-blank {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
	font-size: var(--px-48);
	line-height: var(--px-60);
	letter-spacing: 0.02em;
}

.int-600-72 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
  font-size: 72px;
  line-height: 1.2; /* 72px; */
  letter-spacing: 0.02em;
}

.int-600-72-blank {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
  font-size: var(--px-72);
  /* font-size: 4.5rem; */
  line-height: 1;
  letter-spacing: 0.02em;
}

.int-700,
.int-700::placeholder {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.02em;
}

.int-700-18 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.02em;
}

.int-700-18-blank {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 700;
	font-size: var(--px-18);
	line-height: var(--px-20);
	letter-spacing: 0.02em;
}

.int-700-20 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2; /* 24px; */
	letter-spacing: 0.02em;
}

.int-700-22 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

.int-700-30 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2; /* 36px; */
	letter-spacing: 0.02em;
}

.story h3 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.02em;
	color: #ffffff;
	margin-top: 26px;
	margin-bottom: 5px;
}

.story-print h3 {
	font-family: "Inter", Arial, sans-serif;
	font-weight: 600;
	font-size: 28px;
	line-height: 30px;
	letter-spacing: 0.02em;
	margin-top: 26px;
	margin-bottom: 10px;
}

.white-006 {color: rgba(255, 255, 255, 0.06);}
.white-02 {color: rgba(255, 255, 255, 0.2);}
.white-04 {color: rgba(255, 255, 255, 0.4);}
.buff { color: #05ff00; }
.debuff { color: #ff0000;}
.color-lightblue { color: #00E0FF;}
.color-blue { color: #0047FF;}
.color-purple { color: #CB30E0;}

.print-grey { color: #828282;}

.text-print, 
.text-print > span { color: #000000;}


.main-text {color: #ffffff;}


.error-text { color: #ff0000 !important;}
.rare-text,
.rare-text a {
	color: #ffc93d;
}


.f-lh-18 {line-height: 18px;}
.f-lh-30 {line-height: 30px;}
