.pos-rel {
	position: relative;
}

.w-100 {width: 100%;}
.h-100 {height: 100%;}

.w-362 {width: 362px;}

.h-18 {height: 18px;}
.h-min-18 {min-height: 18px;}

.flex-wrap {flex-wrap: wrap;}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-c-jc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-col-sb {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-row {
	display: flex;
  flex-direction: row;
}

.flex-row-c {
	display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-c-jc {
	display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: center;
}

.flex-row-sb {
  /* width: 100%; */
	display: flex;
  flex-direction: row;
	justify-content: space-between;
}

.flex-row-sb-c {
  width: 100%;
	display: flex;
  flex-direction: row;
	justify-content: space-between;
  align-items: center;
}

.flex-as-c {
	align-self: center;
}

.flex-row-sb-end {
  /* width: 100%; */
	display: flex;
  flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.gap-4 { gap: 4px; }
.gap-6 { gap: 6px; }
.gap-8 { gap: 8px; }
.gap-10 { gap: 10px; }
.gap-14 { gap: 14px; }
.gap-15 { gap: 15px; }
.gap-16 { gap: 16px; }
.gap-18 { gap: 18px; }
.gap-26 { gap: 26px; }
.gap-32 { gap: 32px; }
.gap-34 { gap: 34px; }
.gap-36 { gap: 36px; }
.gap-40 { gap: 40px; }


.pd-14 { padding: 14px; }
.pd-16 { padding: 16px; }
.pd-32 { padding: 32px; }

.pd-rlb-32 {padding: 0 32px 32px;}

.pd-rl-16 {padding: 0 16px;}
.pd-rl-20 {padding: 0 20px;}
.pd-rl-32 {padding: 0 32px;}
.pd-20-28 {padding: 20px 28px;}

.pd-t-2 { padding-top: 2px; }
.pd-t-22 { padding-top: 22px; }
.pd-t-32 { padding-top: 32px; }

.pd-r-18 {padding-right: 18px;}


.pd-l-16 { padding-left: 16px; }
.pd-l-32 { padding-left: 32px; }

.mr-t-4 { margin-top: 4px; }
.mr-t-8 { margin-top: 8px; }
.mr-t-12 { margin-top: 12px; }
.mr-t-15 { margin-top: 15px; }
.mr-t-16 { margin-top: 16px; }
.mr-t-22 { margin-top: 22px; }
.mr-t-24 { margin-top: 24px; }
.mr-t-26 { margin-top: 26px; }
.mr-t-32 { margin-top: 32px; }
.mr-t-34 { margin-top: 34px; }
.mr-t-36 { margin-top: 36px; }
.mr-t-54 { margin-top: 54px; }
.mr-t-64 { margin-top: 64px; }
.mr-t-84 { margin-top: 84px; }
.mr-t-96 { margin-top: 96px; }
.mr-t-102 { margin-top: 102px; }

.mr-l-15 { margin-left: 15px;}

.mr-b-4 { margin-bottom: 4px; }
.mr-b-15 { margin-bottom: 15px; }
.mr-b-18 { margin-bottom: 18px; }
.mr-b-34 { margin-bottom: 34px; }
.mr-b-36 { margin-bottom: 36px; }


/* .disp-non {display: none;} */

/* @media (max-width: 1279px) {
	.disp {
		display: none;
	}
} */


