.btm-round {
  min-height: 48px;
  min-width: 48px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* z-index: 1000; */
  cursor: pointer;
}

.btm-round:hover { background: rgba(255, 255, 255, 0.1); }

.mob-set-btm {
	padding: 16px;
	background: rgba(255, 255, 255, 0.06);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border-radius: 12px;
	isolation: isolate;
}

.mob-set-btm:hover {background-color: rgba(255, 255, 255, 0.1);}

.mob-header {
	width: 100%;
	height: 88px;
	background: #0E1518;
	box-shadow: 0px 4px 20px #000000;
	position: relative;
	z-index: 1000;
}

.card-main {
	padding: 16px;
	background: rgba(255, 255, 255, 0.06);
	border-radius: 12px;
	/* backdrop-filter: blur(60px); */
}
.card-main.hov:hover { background: rgba(255, 255, 255, 0.1); }

.btm-anim { transition-duration: 0.5s;}

.cur-p { cursor: pointer; }
.cur-ban { cursor: not-allowed; }
.cur-auto { cursor: auto; }

.pas-param { opacity: 0.2;}

.br-4 { border-radius: 4px;}
.br-12 { border-radius: 12px;}

.blur-60 { 
	backdrop-filter: blur(60px); 
	-webkit-backdrop-filter: blur(60px);
}

/* .blur-60::before { 
	backdrop-filter: blur(60px); 
	-webkit-backdrop-filter: blur(60px);
} */

.card-select {
	border: 2px solid #ffffff; 
	padding: 14px;
}

.btm-grey {background: rgba(255, 255, 255, 0.06);}
.btm-grey.hov:hover {background: rgba(255, 255, 255, 0.1);}

.btm-select { 
	border: 2px solid #ffffff;
}

.btm-trans {
	padding: 14px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.06);
}

.btm-black {background: #000000;}
/* .btm-black.hov:hover { background: #000000;} */

.btm-blue {background: #0047ff;}
.btm-blue.hov:hover { background: #1355ff;}

.btm-white {background: #FFFFFF;}
.btm-white a {color: #0047FF;}
.btm-white svg {fill: #0047FF;}
.btm-white.hov:hover { background: #FFFFFF;}

.btm-red {background: #580000; transition-duration: 0.5s;}
.btm-red.hov:hover { background: #FF0000;}


/* stripe */
.stripe-page {
	min-width: 2px;
	background-color: rgba(255, 255, 255, 0.1);
}

.stripe-item--main {
	min-width: 4px;
	background: rgba(255, 255, 255, 0.2);
}

.stripe-item--slider {
	width: 2px;
	min-width: 2px;
	background: rgba(255, 255, 255, 0.06);
}

.stripe-item--active { background: #ffffff;}



.animation--error-photo-upload  {
  animation-name: active-back;
  animation-duration: 1.8s;
  animation-timing-function: cubic-bezier(.04,.85,.35,.51);
  animation-delay: 0.1s;
}

@keyframes active-back{
	0%{ background-color: rgba(255, 255, 255, 0.06); }
	20%{ background-color: #FF0000; }
	40%{ background-color: #FF0000; }
	100%{ background-color: rgba(255, 255, 255, 0.06); }
}

.animation--error-char-upload  {
  animation-name: error-char;
  animation-duration: 1.8s;
  animation-timing-function: cubic-bezier(.04,.85,.35,.51);
  animation-delay: 0.1s;
}

@keyframes error-char{
	0%{ opacity: 0; }
	5%{ opacity: 1; }
	50%{ opacity: 1; }
	100%{ opacity: 0; }
}
