body {
  background-color: black;
}

ui {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: green;
  position: static;
  width: 320px;
  height: 100%;
  left: 0px;
  top: 0px;
}

h1 {
  color: navy;
  margin-left: 20px;
}
